<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved</h4>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, {:class => "field_label"} %><br />
    <%= f.text_field :title, {:size  => "50", :class=>"input_field"} %>
  </div>
  <div class="field">
    <%= f.hidden_field :owner %>
  </div>
  <div class="field">
    <%= f.label "Description", {:class => "field_label"} %><br />
    <%= f.text_area :desctiption, {:cols => "40", :class => "input_field" } %>
  </div>
  <div class="actions">
    <%= f.submit({:class => "create_comment"}) %>
  </div>
<% end %>
