
<table>
  <tr>
    <th>Title</th>
    <th>Desctiption</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.desctiption %></td>
    <td><%= idea.owner %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
    <td><%= link_to 'Destroy', idea, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
