
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Hackathon</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
  <div id="background">
    <%= image_tag("1.jpg", {class:"stretch"})%>
    <img src="img.jpg" class="stretch" alt="" />
</div>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">HACKATHON</a></h1>
			</div>
		</div>
	</div>
  <div>
  </div>
  <% if gmail_username.present? %>
    <div class="username glower">
      <%= "Hi, "+full_name(gmail_username).titleize %>
      <%= link_to("[logout]", logout_path) %>
    </div>
  <% end %>
  <div id="menu">
		<ul>
      <li id="main_link" class="current_page_item"><%= link_to("Hackathon", root_path) %></li>
      <% if !gmail_username.nil? %>
        <li id="register_link"><%= link_to("Register My Idea", new_idea_path)%></li>
        <li id="ideas_link"><%= link_to("Ideas", ideas_path)%></li>
      <% else %>
        <li id="login_link"><%= link_to("Login", login_path)%></li>
      <% end %>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div style="clear: both;">&nbsp;</div>
    <%= yield %>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>2012. hackathon-mughil.com. All rights reserved. Photos by <a href="https://www.facebook.com/nandha">Nandha</a></p>
</div>
<!-- end #footer -->
</body>
</html>
